
* {
	box-sizing: border-box;
}

body {
	font-family: Arial;
}

h1 {
	text-align: center;
}

.column {
 	float: left;
 	width: 33.33%;
 	padding: 20px;
 }

.row:after {
	content: "";
	display: table;
	clear: both;
}
